body
 {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    background-color: antiquewhite;
}
h2{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

h1 {font-weight: lighter;font-family:
     Arial, Helvetica, sans-serif;}
.middle{
    text-align-last: center;
    
}
.circle {
      background-color: tan;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      position: fixed;
      top: 10px;
      left: 15px;
      }
.second {
			background-color: tan;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      position: fixed;
      top: 10px;
      right: 15px;
      }
.band{
    background-color: tan;
    position: relative ;
    top: 5px;
    left: 20px;
    
	}
.text {
		font-family: ariel; 
    font-color: brown;
    }
    
.box-one {
		background-width: 400px;
    background-color: tan;
    }
#border {border:2px solid brown;
    border-width: 2px;
    margin-left: 150px;
    margin-right: 150px;
        padding: 5px;}
